html,
body {
  margin: 0;
  padding: 0;
}

circle,
path,
g {
  pointer-events: auto;
}

.circ {
  stroke: red;
  stroke-width: 1.5;
  fill: white;
  cursor: pointer;
}

.seatClicked {
  stroke: green;
  stroke-width: 1.5;
  content: "✓";
  fill: white;
  cursor: pointer;
}

.active {
  fill: blue;
  stroke: black;
}

.hovered {
  fill: yellow;
  stroke: blue;
}

#root {
  overflow: hidden;
}

.popup-content {
  top: 0;
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}

.popup-arrow {
  color: rgb(255, 255, 255);
  height: 15px;
  width: 50px;
  left: -10px;
}

[role='tooltip'].popup-content {
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  text-align: center;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

h1,
h3 {
  margin: 0;
  padding: 0;
}

#sideMenu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 350px;
  background: white;
  z-index: 1;
}

.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -10px;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  color: white;
  padding: 5px;
  text-align: center;
  color: white;
  padding: 5px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}


/* Selected Tickets*/

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: normal;
  color: #727272;
  text-transform: uppercase;
}

.row {
  color: black;
  background-color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column_value {
  border: 1px solid #c3c3c3;
  float: left;
  width: 33.33%;
  padding: 10px;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: bold;
  color: #262626;
}

.ticket-bag__ticket-list-item {
  position: relative;
  margin: 10px;
  white-space: normal;
  background-color: #fff;
  border: 1px solid #ebebeb;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.srs__set {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
}

.tooltip__content {
  padding: 10px;
  font-size: 1.2rem;
  line-height: 1.4;
}

.ticket-bag__ticket-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  font-weight: bold;
}

.ticket-bag__remove-item-btn:hover {
  text-decoration: none;
}

.ticket-bag__remove-item-btn:hover {
  text-decoration: underline;
}

.ticket-bag__remove-item-btn {
  padding: 0 0;
  font-weight: normal;
  color: #026cdf;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  white-space: nowrap;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3Eclose%5fhov%3C%2Ftitle%3E%3Cpath%20d%3D%22m16.283652%2C6.58643l-4.28214%2C4.28454l-4.28454%2C-4.28454l-1.132943%2C1.130542l4.28454%2C4.28454l-4.28454%2C4.28454l1.132943%2C1.130542l4.28454%2C-4.28454l4.28214%2C4.28454l1.132943%2C-1.131743l-4.28454%2C-4.28454l4.28454%2C-4.28454l-1.132943%2C-1.130542l0%2C0.0012zm-4.28214%2C-6.58643c-6.628435%2C0%20-12.001513%2C5.373077%20-12.001513%2C12.001513s5.373077%2C12.001513%2012.001513%2C12.001513c6.624835%2C0%2012.001513%2C-5.373077%2012.001513%2C-12.001513s-5.376678%2C-12.001513%20-12.001513%2C-12.001513zm0%2C22.802874c-5.956351%2C0%20-10.801361%2C-4.846211%20-10.801361%2C-10.801361s4.845011%2C-10.801361%2010.801361%2C-10.801361s10.801361%2C4.846211%2010.801361%2C10.801361s-4.845011%2C10.801361%20-10.801361%2C10.801361z%22%20fill%3D%22%23262626%22%20fill-opacity%3D%2265%25%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
  position: absolute;
  top: -10px;
  right: -10px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 10px;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button,
select {
  text-transform: none;
}

button {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}





#container {
  display: inline-block;
  cursor: pointer;
  right: 0;
  top: 10px;
  z-index: 5;
  color: white;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}