.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.wrapper>* {
  padding: 1px;
  flex: 1 100%;
}

.header {
  background-color: #c3c3c3;
  border-bottom: 1px solid black;
}

.footer {
  background-color: #c3c3c3;
  border-top: 1px solid black;
}

.main {
  text-align: left;
}

.aside-2 {
  border-top: 1px solid black;
  border-left: 1px solid black;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0 0;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px;
  }

  .aside-1 {
    order: 1;
  }

  .main {
    order: 2;
  }

  .aside-2 {
    order: 3;
  }

  .footer {
    order: 4;
  }
}

svg {
  cursor: grab;
}

svg:active {
  cursor: grabbing;
}

.tooltip {
  color: #222;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  padding: .2em;
  text-shadow: #f5f5f5 0 1px 0;
  opacity: 0.9;
  position: absolute;
}

.hidden {
  display: none;
}

/*
    Auther: Abdelrhman Said
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.icons {
  position: fixed;
  top: 3em;
  left: 0;
}

.icons .icon {
  font-size: 12px;
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icons .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icons .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icons .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.icons .icon:hover span,
.icons .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.icons .zoomin:hover,
.icons .zoomin:hover .tooltip,
.icons .zoomin:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.icons .zoomout:hover,
.icons .zoomout:hover .tooltip,
.icons .zoomout:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.icons .reset:hover,
.icons .reset:hover .tooltip,
.icons .reset:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.icons .panleft:hover,
.icons .panleft:hover .tooltip,
.icons .panleft:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.icons .panright:hover,
.icons .panright:hover .tooltip,
.icons .panright:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.icons .center:hover,
.icons .center:hover .tooltip,
.icons .center:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}


@media all and (max-width: 550px) {
  .icons .icon {
    font-size: 8px;
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 5px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

#minimap {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 250px;
  width: 250px;
  border: 1px solid black;
  background-color: white;
}