// ZOOM ICON OVERRIDES
.zoomer__controls {position: fixed;
  top: 4em;
  float: left;
  width: 75px;
}

.has-ticket-bag .zoomer__controls {
}

.zoomer__control--reset,
.zoomer__control--zoomin,
.zoomer__control--zoomout {
  width: 40px;
  height: 40px;

  padding: 0;

  border: 0;
  border-radius: 3px;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);

  svg {
    display: inline-block;

    width: 26px;
    height: 22px;
    vertical-align: bottom;
  }
}

.zoomer__control--zoomin {
  z-index: 20;

  margin: 0 0 -1px;

  border-bottom: 0;
  border-radius: 3px 3px 0 0;
}

.zoomer__control--zoomout {
  border-top: 0;
  border-radius: 0 0 3px 3px;
}

// minimap (temporarily namespace until we get off ice)
.seatmap-container--sim .minimap {
  position: absolute;

  right: 15px;



  border: 0;

  border-radius: 3px;

  .label {
    display: none;
  }

  .block {
    stroke-width: 20px;
  }

}

.minimap__eyeglass {
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.5);

  border: 0;

}

.zoomer__control--disabled {
  .reset,
  .zoomout {
    opacity: 0.25;
  }
}

.sim-map-tooltip {
  max-width: 315px;


  &.is-anchored {
    width: 315px;
  }


  .ticket-type-link {
    text-align: left;

    white-space: normal;
  }

  .ticket-type-description {
    display: flex;
  }

  .clickable-ticket-type-description {
    display: flex;

    padding-bottom: 8px;
  }

  .ticket-type-icon {
    margin-right: 5px;
  }

}
