$tmobile-tooltip-min-width: 224px;
$tmobile-tooltip-icon-width: 97px;
$tmobile-tooltip-icon-height: 16px;
$tmobile-tooltip-description-spacing: 4px;
$tmobile-tooltip-spacing: 16px;
$tmobile-footnote-spacing: 13px;
$tooltip-value-text-max-height: 158px;

$legend-border-color: #ebebeb;
$resale-color: #0000ff;
$blocked-color: #bfbfbf;
$unavailable-color: #ebebeb;
$black: #000;
$white: #fff;


.map__wrapper {
  height: 100%;
}

.sim-loader-container {
  width: 100%;
  height: 100%;

  background-position: center center;
  background-repeat: no-repeat;

  background-size: contain;
}

.legend {
    z-index: 1;
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 160px;
  font-size: 16px;
  color: $black;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  visibility: hidden;

  @mixin breakpoint($bp-lg) {
    position: absolute;
    right: 15px;
    bottom: 39px;
    left: auto;
  }

  &--with-cart {
  }

  &--with-items {
    visibility: visible;
  }

  &__display-toggle {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 37px;
    padding: 0 16px;
    color: $black;
    cursor: pointer;

    span {
      font-weight: 600;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__icon--chevron {
    display: inline-block;
    width: 14px;
    height: 14px;

    &.expand {
      transform: rotate(-180deg);
    }
  }

  &__icon--primary circle,
  &__icon--locked circle,
  &__icon--ada circle {
  }

  &__icon--resale circle {
    fill: $resale-color;
  }

  &__icon--vip-star circle {
  }

  &__icon--blocked circle {
    fill: $blocked-color;
  }

  &__icon--unavailable circle {
    fill: $unavailable-color;
  }
}

.legend__items {
  padding: 7px 0 12px 16px;
  margin: 0;
  list-style: none;
  border-top: 1px solid $legend-border-color;
}

.legend__item {
  padding: 5px 0;

  &-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    line-height: 1.5;

    > div {
      align-self: center;
    }

    svg {
      width: 16px;
      height: 16px;

      fill: $white;
    }

    span {
      align-self: flex-start;
      padding-left: 8px;
      font-size: 14px;
      line-height: 1.5;
    }
  }
}

.map__zoomer,
.seat.is-available,
.block.is-ga,
.zoomer__controls button {
  cursor: default;
}

// ZOOM ICON OVERRIDES
.zoomer__controls {
  display: none;

  @mixin breakpoint($bp-lg) {
    position: absolute;
    top: 15px;
    right: 15px;

    display: block;

    height: 125px;
  }
}

.has-ticket-bag .zoomer__controls {
}

.zoomer__control--reset,
.zoomer__control--zoomin,
.zoomer__control--zoomout {
  width: 40px;
  height: 40px;

  padding: 0;

  border: 0;
  border-radius: 3px;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);

  svg {
    display: inline-block;

    width: 26px;
    height: 22px;
    vertical-align: bottom;
  }
}

.zoomer__control--zoomin {
  z-index: 20;

  margin: 0 0 -1px;

  border-bottom: 0;
  border-radius: 3px 3px 0 0;
}

.zoomer__control--zoomout {
  border-top: 0;
  border-radius: 0 0 3px 3px;
}

// minimap (temporarily namespace until we get off ice)
.seatmap-container--sim .minimap {
  position: absolute;

  right: 15px;


  background: rgba(0,0,0, 0.5);

  border: 0;

  border-radius: 3px;

  @mixin breakpoint($bp-md) {
    right: 70px;
  }

  .label {
    display: none;
  }

  .block {
    stroke-width: 20px;
  }

}

.minimap__eyeglass {
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.5);

  border: 0;

}

.zoomer__control--disabled {
  .reset,
  .zoomout {
    opacity: 0.25;
  }
}

.sim-map-tooltip {
  max-width: 315px;

  @mixin breakpoint($bp-md) {
    max-width: 345px;
  }

  .composite-title {
  }

  &.is-active {
  }

  &.is-anchored {
    width: 315px;

    @mixin breakpoint($bp-md) {
      width: 345px;
    }
  }

  &.bordered .map-tooltip__content {
  }

  .ticket-type-link {
    text-align: left;

    white-space: normal;
  }

  .ticket-type-description {
    display: flex;
  }

  .clickable-ticket-type-description {
    display: flex;

    padding-bottom: 8px;
  }

  .ticket-type-icon {
    margin-right: 5px;
  }

  .tooltip__srs {
    @mixin breakpoint($max: $bp-md) {
      min-width: 0;
    }

    &--last-item {
      border-bottom: 0;
    }
  }

  .srs__value {
    @mixin breakpoint($min: $bp-md) {
      max-height: $tooltip-value-text-max-height;
      padding: 4px 0;
      margin: 3px 0;
      overflow-y: auto;
    }
  }

  .tooltip-tmobile {
    display: flex;
    flex-direction: column;
    min-width: $tmobile-tooltip-min-width;
    padding: $tmobile-tooltip-spacing;
  }

  .tooltip-tmobile__description {
  }

  .section-info__footnote--tmobile {
    padding: $tmobile-footnote-spacing $tmobile-tooltip-spacing $tmobile-tooltip-spacing;
  }
}
